* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.items1 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items2 {
  height: 650px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img1 {
  width: 700px;
}

.quotes {
  width: 40vw;
  font-size: larger;
  color: azure;
  font-weight: bolder;
}

.items3 {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.ach {
  width: 40vw;
}

.items4 {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pl {
  text-align: center;
}
.imgs {
  width: 200px;
  height: 150px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
}
.items5 {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0c29;
  color: white;
}
